* {
    box-sizing: border-box;
}

* {
	text-align: center;
	margin: auto;
	padding: 15px;
}

body {
	background-color: #eaf2ff;
}

.js-search-form input:focus {
	outline: 5 px dotted rgb(176, 56, 245);
}